[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "vendor/soil"]
	path = vendor/soil
	url = https://github.com/burtonageo/SOIL.git
